<header class="header">
	<div class="container">
		<div class="header_top">
			<a href="homepage.html" class="logo"></a>
			<select class="toggl-lang">
				<option><a href="#">ru</a></option>
				<option><a href="#">en</a></option>
				<option><a href="#">de</a></option>
			</select>
		</div>
		<nav class="menu">
			<div class="menu_btn">
				<i class="fa fa-angle-up " aria-hidden="true"></i>
				<i class="fa fa-bars" aria-hidden="true"></i>
			</div>
			<ul>
				<li><a href="#">О КОМПАНИИ</a></li>
				<li><a href="#">УСЛУГИ</a></li>
				<li><a href="#">ПОРТФОЛИО</a></li>
				<li><a href="#">КОНТАКТЫ</a></li>
			</ul>
		</nav>
	</div>
</header>