<!-- modal windows -->
	<div class="modal fade order" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<h2>Заявка на заказ</h2>
				<p>Пожалуйста, заполните форму заказа. Мы обязательно свяжемся с вами в течение часа!</p>
				<form method="post" action="#">
					<input type="text" name="name" placeholder="Ваше имя" required><br>
					<input type="email" name="email" placeholder="Ваш e-mail">
					<span>или</span>
					<input type="tel" name="tel" placeholder="Ваш телефон" required>
					<textarea name="message" placeholder="Ваше сообщение" required></textarea>
					<p>Вы должны заполнить хотя бы один из вариантов связи с вами</p>
					<button type="submit" class="btn btn-order" data-toggle="modal" data-target=".order-success">Отправить</button>	
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade order-success" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<h2>Заявка отправлена!</h2>
				<p>Спасибо! В течение часа мы свяжемся с вами.</p>
				<a href="#" class="btn learn-more">Вернуться к сайту</a>
			</div>
		</div>
	</div>